@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat/Montserrat-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: Montserrat;
    src: url(assets/fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: 400;
}
.div1 {
    background-image: url(assets/images/background.svg);
    
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
 .img0{
    margin-left: 21vh;
 }
 .divs:hover{
    background-color: #252B42;
    color: white;
    transform: translateY(-50px);
}
.div3{
    margin-top: -160px;
}
.div2{
    margin-top: 250px;
}
.div4{
    margin-top: 300px;
}
.div5{
    margin-top: 150px;
}
.div6{
    margin-top: 150px;
}
.div7{
    margin-top: 750px;
}
.div8{
    margin-top: -290px;
}
.div9{
    margin-left: 90px;
}
.div10{
    margin-top: 50px;
}
@media screen and (max-width:992px) {
    .div3{
        margin-top: -800px;
    }
    .div2{
        margin-top: 850px;
    }
    .div4{
        margin-top: 30px;
    }
    .div7{
        margin-top: 0px;
    }
    .div8{
        margin-top: 0px;
    }
    .div9{
        margin-left: 0px;
    }
}

